/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin: 1em;
  padding: 1empx;
}

.card_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin: 1em;
}

@media (min-width: 20rem) {
  .card_item {
    width: 70%;
  }
}
@media (min-width: 40rem) {
  .card_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .card_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 2%;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 1rem;
  background: lightblue;
}
